<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pet Facts with photoshots</title>
    <link rel="stylesheet" href="/petfax/styles.css">
  </head>
  <body>
    <a href="./index.html">Home Page</a>
    <h1>Koto the cat!</h1>
	<img src="assets\koto.jpg"/>
    
    <p class="text">About koto! <br> "Some cats are ambidextrous, but 40% are either left- or right-pawed"</p>

<h2>Max is cute pup!</h2>
<img src="/assets/Max.jpg" alt="Max's photoshot "/>
<p class="text">About Max! <br>
    "A dog’s nose print is unique, much like a person’s fingerprint"
</p>

<h3>Elmo the bun!</h3>
<img src="/assets/elmo.jpg"/>
<p class="text">About Elmo!  <br>
    "Rabbits have almost 360° vision but are born with their eyes shut"
</p>

  </body>
</html>